<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src = "../index.js"></script>
</head>
<body id="body" style="background-image: url('../background.jpg');background-size: cover;" onload="set_name()">

    <div id="center">
        <label>
            <div id="user_div">
                <span>Username:</span>
            </div>
            <div id="input_div" style="margin-left:150px">
                <input id="input" placeholder="Имя пользователя">
            </div>
        </label>
        <div id="button_div" style="margin-left:150px">
            <input id="button"  type="button" value="Ввод" onclick="store()">
        </div>


    </div>

</div>
</body>

</body>
</html>
